*,::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container_grille {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 300px 1fr 300px;
    grid-template-rows: auto 1fr auto;
}

header {
    grid-column: span 3;
    padding: 20px;
    font-size: 22px;
    text-align: center;
    background-color: rgb(81, 86, 95);
    color: aliceblue;
}

nav {
    background-color: brown;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: auto;
}

nav h3 {
    padding: 30px;
}

.techno {
    list-style-type: none;
    max-height: 750px;
    display: flex;
    flex-direction: column;
}

.techno li {
    height: 70px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 50px;
}

.techno li a {
    font-size: 18px;
    color: aliceblue;
    text-decoration: none;
}

.techno li a:hover {
    color: burlywood;
}

.techno img {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    height: 700px;
}

h1 {
    margin-bottom: 15px;
}

.conversation {
    height: 480px;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column-reverse;
    grid-auto-rows: max-content;
    margin-top: 5px;
    overflow-y: auto;
}

.loader_box {
    position: absolute;
}

.loader {
    position: absolute;
    z-index: 1;
}

.hidden {
    display: none;
}

.map_container {
    padding-bottom: 5px;
    width: 600px;
    height: 250px;
}

.grandpy_box {
    display: flex;
}

.bubble {
    
    position: relative;
    display: block;
    align-items: center;
    align-content: center;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 20px;
    width: 700px;
    margin-bottom: 25px;
    background: rgb(151, 151, 151);
    border-radius: 40px;
    padding: 14px;
    text-align: center;
    color: #000;
  }

.user_box {
    display: flex;
    justify-content: flex-end;
}

.bubble2 {
    position: relative;
    display: block;
    align-items: flex-end;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 20px;
    width: 600px;
    margin-bottom: 25px;
    background: rgb(241, 168, 168);
    border-radius: 40px;
    padding: 14px;
    text-align: center;
    color: #000;
  }

form {
    display: flex;
    justify-content: center;
}

.form_user_submit {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_user_input {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user_text_form {
    display: flex;
    flex-direction: column;
}

.user_input {
    width: 500px;
}



aside {
    padding: 15px;
    height: auto;
    background-color: brown;
    display: flex;
    justify-content: center;
}

aside img {
    width: 450px;
    height: 450px;
}

footer {
    grid-column: span 3;
    padding: 30px;
    background-color: rgb(81, 86, 95);
    display: flex;
    justify-content: space-around;
    height: 100px;
}

.lien {
    font-size: 18px;
    list-style-type: none;
}

.lien a {
    text-decoration: none;
    margin-top: 5px;
    color: #333;
}

.lien a:hover {
    color: burlywood;
}

.lien img {
    width: 20px;
    margin-right: 5px;
}

footer h3 {
    color: rgba(0,0,0,.7);
    text-shadow: 0 1px rgba(255, 255, 255, 0.1);
}

@media screen and (max-width: 1000px) {
    
    .container_grille {
        display: flex;
        flex-direction: column;
    }

    .techno {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 40px;
    }

    .techno li {
        padding: 40px;
    }

    nav h3 {
        padding: 0;
        font-size: 14px;
    }

    .techno li a {
        font-size: 0%;
    }

    .techno li a img {
        width: 18px;
    }

    body {
        width: auto;
    }

    main {
        display: flex;
        flex-direction: column;
        width: auto;
    }
    
    .bubble, .bubble2 {
        width: auto;
    }

    .map_container {
        width: 600px;
        height: 170px;
    }

    .user_input {
        width: 400px;
    }

    .input_container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .user_submit {
        width: 60px;
    }

    aside {
        height: 150px;
    }

    aside img {
        width: 140px;
        height: 140px;
    }
}

@media screen and (max-width: 600px) {

    header {
        font-size: 18px;
        padding: 10px;
    }

    nav h3 {
        font-size: 14px;
    }

    .techno {
        height: 20px;
    }

    .techno li {
        padding: 0 15px;
    }

    .techno li a img {
        width: 12px;
    }

    .map_container {
        width: 80%;
    }

    .bubble, .bubble2 {
        font-size: 14px;
        padding: 10px;
        margin-bottom: 5px;
      }

    #user_input {
        text-align: center;
        width: 350px;
        font-size: 12px;
    }
    
    form {
        flex-direction: column;
    }

    .form_user_submit {
        margin-top: 2px;
    }

    aside {
        padding: 0;
        height: 100px;
    }

    aside img {
        width: auto;
        height: 110px;
    }

    footer h3 {
        font-size: 16px;
    }

    .lien a {
        font-size: 16px;
    }
}
