<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://js.api.here.com/v3/3.1/mapsjs-core.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-service.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-ui.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.1/mapsjs-ui.css" />
    <title>Document</title>
</head>
<body>
    <div class="container_grille">
        <header>GrandPy Bot, le papy robot 🤖 👴</header>
        <nav>
            <h3>Développé avec :</h3>
            <ul class="techno">
                <li><a href="#https://developer.mozilla.org/fr/docs/Web/HTML"><img src="static/img/html.svg" alt="icon HTML">HTML</a></li>
                <li><a href="#https://developer.mozilla.org/fr/docs/Web/CSS"><img src="static/img/css.svg" alt="icon CSS">CSS</a></li>
                <li><a href="#https://www.python.org/"><img src="static/img/python.svg" alt="icon python">Python</a></li>
                <li><a href="#https://flask.palletsprojects.com/en/1.1.x/"><img src="static/img/flask.svg" alt="icon flask">Flask</a></li>
                <li><a href="#https://www.javascript.com/"><img src="static/img/javascript.svg" alt="icon javascript">JavaScript</a></li>
            </ul>
        </nav>
        <main>
            <div id="map_container">
                <script src="{{ url_for('static', filename='js/map.js') }}"></script>
            </div>
            <div class="conversation">
                <img src="static/img/loader.svg" alt="loader" class="loader hidden">
                <p class="bubble bubble-bottom-left">🤖👴Bienvenu mon petit je suis GrandPy, le papy robot. Demande moi un endroit.</p>
            </div>
            <form id="user_text_form">
                <p>
                    <label for="user_input"></label>
                    <input type="text" name="user_input" id="user_input" class="user_input" placeholder="Salut GrandPy, Est-ce que tu connais l'adresse du Taj Mahal?">
                    <input type="submit" name="user_submit" id="user_submit" value="Envoyer">
                </p>
            </form>
            <script src="{{ url_for('static', filename='js/ajax.js') }}"></script>
        </main>
        <aside>
            <img src="static/img/grandpybot.png" alt="image robot">
        </aside>
        <footer>
            <h3>© Fruteau De Laclos Cédric</h3>
            <ul class="lien">
                <li><a href="#https://github.com/FaillHarder/GrandPy-Bot---Openclassrooms"><img src="static/img/github.svg" alt="icon HTML">Github</a></li>
                <li><a href="#https://www.linkedin.com/in/c%C3%A9dric-fruteau-de-laclos-518224198/"><img src="static/img/linkedin.svg" alt="icon HTML">Linkedin</a></li>
            </ul>
        </footer>
    </div>
</body>
</html>